<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>Yo This Is The Home Page!!!</h1>
    </div>
    <div style="text-align: center;">
        <h2>If You Don't Have an Account <a href="{{ url_for('register')}}">Register</a> </h2>
        <h2>If You Have an Accout then <a href="{{ url_for('login')}}">Login</a> </h2>
    </div>
</body>
</html>